<!-- <h1>Announcements#index</h1>
  <p>Find me in app/views/announcements/index.html.erb</p> -->
  <% if !@current_user.nil? %>
  <h1> &nbspWelcome to History, <%= @current_user.name%> <%=@current_user.last_name %>&nbsp!</h1>
  <p>&nbsp&nbspA space to cherish those precious moments from the past</p>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <br><br>
        <h1>Historic Billboard</h1>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div >
          <% @announcements.each do |announcement| %>
          <% if announcement.seen_state %>
          <%  %>
          <div class="callout grid-x grid-padding-x">
            <span id="#{}" class="description"><%= announcement.content %> &nbsp-&nbspmade by: <%= announcement.user.name %>
              <%= announcement.user.last_name %> </span>
<!--               <span class="description">
                <%#= announcement.expiration_date %>
                <%#= l(announcement.expiration_date, format: "%d") %>
                <%#= l(announcement.expiration_date, format: "%b") %>
              </span> -->
              <!--             <span class ="button"><%#= announcement.update_attributes(seen_state: true) %>x</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
    <% end %>

    <% else %>
    bbb
    <% end %>


