
<% if !@current_user.nil? %>
  <h1> &nbspWelcome to History, <%= @current_user.name%> <%=@current_user.last_name %>&nbsp!</h1>
  <p>&nbsp&nbspA space to cherish those precious moments from the past</p>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <br><br>
        <h1>Historic Billboard</h1>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <% @announcements.each do |announcement| %>
          <% if announcement.seen_state %>
            <div class="callout grid-x grid-padding-x">
              <span id="#{}" class="description">
                <%= announcement.content %> &nbsp-&nbspmade by: <%= announcement.user.name %>
                <%= announcement.user.last_name %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h1>Please sign up, or log in.</h1>
<% end %>


