
<% if !@current_user.nil? %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1><%= gravatar_for @current_user %> &nbspWelcome <%= @current_user.name%> <%=@current_user.last_name %>&nbsp!</h1>
          <p>&nbsp&nbspShare what you're living at this moment by making a new announcement</p>
            <div>
              <%= link_to "Create a new announcement", new_announcement_path, class: "button" %>
            </div>
          <p>You can also checkout what other people have posted in the Announcements Billboard by scrolling down</p>
        </div>
      </div>
    </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <br><br>
        <h1>Announcements Billboard</h1>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div>
          <% if @announcements %>
            <% @announcements.each do |announcement| %>
              <% if Date.current < announcement.expiration_date%>
                <div class="callout grid-x grid-padding-x">
                  <span class="description">
                    <%= announcement.content %> &nbsp-&nbspmade by:
                    <%= announcement.user.name %>
                    <%= announcement.user.last_name %>
                  </span>
                  <span>
                    &nbsp&nbsp&nbsp&nbsp
                    <%= link_to "Mark as read", announcement_read_path(announcement), class: "button" %>
                    <%#= link_to "Mark as read", "/announcements/ #{announcement.id}", class: "button" %>
                  </span>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>Welcome to Twitter</h1>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div class="callout">
          <h5>Please sign up or log in to start discovering the world around you</h5>
        </div>
      </div>
    </div>
  </div>
<% end %>


