
<header>
	<div class="top-bar" style="background: rgb(51, 102, 153);">
		<div class="top-bar-left" style="background: rgb(51, 102, 153);">
			<ul class="dropdown menu" style="background: rgb(51, 102, 153);" data-dropdown-menu>
				<li class="menu-text jose" style="color:white;">
					<p>
						<font size="4">Twitter
					</p>
				</li>
			</ul>
		</div>
		<div class="top-bar-right" style="background: rgb(51, 102, 153);">
			<ul class="dropdown menu" style="background: rgb(51, 102, 153);" data-dropdown-menu>
				<li>
					<%= link_to "Home", root_path, :style=>'color: white;'%>
				</li>
				<li>
					<%= link_to "History", announcements_history_path, :style=>'color: white;'%>
				</li>
				<% if user_signed_in? %>
					<li>
						<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :style=>'color: white;'%>
					</li>
				<% else %>
					<li>
						<%= link_to "Sign up", new_user_registration_path, :style=>'color: white;'%>
					</li>
					<li>
						<%= link_to "Log in", new_user_session_path, :style=>'color: white;'%>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</header>